body {
    font-family: 'Roboto', sans-serif;
  }
  
.container {
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(255, 70, 218 );
}

.topBar {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 50px;
}

.cityInput {
    font-size: 15px;
    border-radius: 40px;
    background-color: rgb(25, 200, 19 );
    width: 300px;
    padding: 30px;
}

.searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 70px;
    background-color: aliceblue;
    border-radius: 40px;
    cursor: pointer;
}

.clouds {
    width: 100px;
}

.cloudIcon {
    text-align: center;
}

.centeredElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element {
    align-items: center;
    margin: 0 100px;
    margin-top: 20px;
}


